@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* Impede rolagem horizontal */
  width: 100%;        /* Garante que o body ocupe toda a largura */
}

h1,
h2,
h3,
ul,
li,
p,
dd,
dt {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

